@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "inter", sans-serif;
}

header {
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("./assets/bannerHeader.png");
  background-repeat: no-repeat;
  background-size: contain;
}
@media (max-width: 780px) {
  header {
    background-image: none;
    height: auto;
    width: 100%;
    padding-bottom: 2rem;
  }
}
header .box-header {
  margin-top: 30px;
  width: 80%;
  height: 10vh;
  border-radius: 50px;
  background: linear-gradient(to right, #4247a2 0%, #52b095 100%);
  box-shadow: 6px 6px 10px 1px rgba(0, 0, 0, 0.2509803922);
  display: flex;
  align-items: center;
  justify-content: space-around;
}
@media (max-width: 780px) {
  header .box-header {
    width: 95%;
    flex-wrap: nowrap;
    height: auto;
    padding: 1rem 0;
    justify-content: space-between;
  }
}
header .box-header img {
  max-width: 40%;
}
header .box-header nav {
  width: 50%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 0 0.5rem;
}
@media (max-width: 780px) {
  header .box-header nav {
    width: 50%;
    height: auto;
    margin-top: 0;
    justify-content: space-between;
    padding: 0 0.5rem;
  }
}
@media (max-width: 375px) {
  header .box-header nav {
    width: 55%;
    padding: 0 0.2rem;
  }
}
header .box-header nav a {
  color: #fff;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  transition: all 0.3s;
  white-space: wrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 40%;
}
@media (max-width: 780px) {
  header .box-header nav a {
    white-space: normal;
    overflow: visible;
    text-overflow: clip;
    max-width: 50%;
    font-size: 0.8rem;
    text-align: center;
    display: inline-block;
    line-height: 1.2;
  }
}
@media (max-width: 480px) {
  header .box-header nav a {
    font-size: 0.7rem;
    max-width: 50%;
  }
}
@media (max-width: 375px) {
  header .box-header nav a {
    font-size: 0.6rem;
  }
}
header .box-header nav a:hover {
  transform: translateY(-5px);
}

.box-banner {
  width: 80vw;
  height: 70vh;
  display: flex;
  align-items: center;
}
@media (max-width: 780px) {
  .box-banner {
    width: 100%;
    height: auto;
    flex-direction: column;
    padding-top: 1rem;
  }
}
.box-banner .box-titulo {
  width: 45%;
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (max-width: 780px) {
  .box-banner .box-titulo {
    width: 95%;
    height: auto;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
    padding: 1rem 0;
  }
}
.box-banner .box-titulo h1 {
  font-size: 2.8rem;
  font-weight: bold;
  background: linear-gradient(to right, #1173d4 0%, #33cc73 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
@media (max-width: 780px) {
  .box-banner .box-titulo h1 {
    width: 95%;
    font-size: 2.5rem;
    height: auto;
    padding: 0.5rem 0;
  }
}
@media (max-width: 375px) {
  .box-banner .box-titulo h1 {
    font-size: 2rem;
  }
}
.box-banner .box-titulo p {
  font-size: 1.6rem;
  font-weight: 400;
  color: #04031c;
  width: 65%;
}
@media (max-width: 780px) {
  .box-banner .box-titulo p {
    width: 95%;
    font-size: 1.5rem;
    height: auto;
    padding-bottom: 1rem;
  }
}
@media (max-width: 375px) {
  .box-banner .box-titulo p {
    font-size: 1.2rem;
  }
}
.box-banner .buttons {
  display: flex;
  gap: 1.5rem;
}
@media (max-width: 780px) {
  .box-banner .buttons {
    width: 100%;
    justify-content: center;
    padding-bottom: 1rem;
  }
}
.box-banner .buttons .btn-primary,
.box-banner .buttons .btn-secondary {
  height: 6.5vh;
  border-radius: 0.625rem;
  font-size: 0.875rem;
  font-weight: 400;
  cursor: pointer;
  transition: all 0.3s;
}
.box-banner .buttons .btn-primary:hover,
.box-banner .buttons .btn-secondary:hover {
  transform: translateY(-5px);
}
.box-banner .buttons .btn-primary {
  border: none;
  width: 50%;
  background: #1173d4;
  color: white;
}
.box-banner .buttons .btn-secondary {
  border: solid 1px #1173d4;
  width: 35%;
  color: #1173d4;
  font-weight: 500;
}
.box-banner .buttons .btn-secondary:hover {
  background-color: #1173d4;
  transform: translateY(-5px);
  color: #fff;
}

.box-container {
  background-color: #f8f9fa;
  height: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 3rem 0;
}
@media (max-width: 780px) {
  .box-container {
    width: 100%;
  }
}
.box-container .container {
  width: 80%;
  height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-evenly;
}
@media (max-width: 780px) {
  .box-container .container {
    height: auto;
    width: 100%;
    padding: 2rem 0;
  }
}
.box-container .container h2 {
  font-size: 2.8rem;
  font-weight: bold;
  background: linear-gradient(to right, #1173d4 0%, #33cc73 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
@media (max-width: 780px) {
  .box-container .container h2 {
    font-size: 1.8rem;
  }
}
.box-container .container p {
  width: 75%;
  font-size: 1.25rem;
  font-weight: 400;
  color: #04031c;
}
@media (max-width: 780px) {
  .box-container .container p {
    width: 95%;
    height: auto;
    font-size: 1rem;
    padding: 1rem 0;
  }
}
.box-container .cards-container {
  display: flex;
  align-items: center;
  width: 80%;
  height: auto;
  justify-content: space-evenly;
  gap: 2rem;
  padding-bottom: 2rem;
}
@media (max-width: 780px) {
  .box-container .cards-container {
    flex-direction: column;
    width: 100%;
    padding: 1rem 0;
  }
}
.box-container .cards-container .cards {
  width: 25%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2509803922);
  border-radius: 0.8rem;
  padding: 1.5rem 0;
}
@media (max-width: 780px) {
  .box-container .cards-container .cards {
    width: 70%;
  }
}
@media (max-width: 480px) {
  .box-container .cards-container .cards {
    width: 90%;
  }
}
.box-container .cards-container .cards .text-card {
  width: 90%;
  height: auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 0.5rem;
  padding: 1rem 0;
}
.box-container .cards-container .cards h3 {
  font-size: 1.25rem;
  font-weight: 600;
  color: #04031c;
}
.box-container .cards-container .cards p {
  font-size: 1.125rem;
  font-weight: 400;
  color: #04031c;
}
.box-container .cards-container .cards img {
  margin-top: 0.7rem;
  max-width: 15%;
}

.info-mulheres {
  background-color: #fdefef;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding-bottom: 2rem;
}
@media (max-width: 780px) {
  .info-mulheres {
    width: 100%;
  }
}
.info-mulheres h2 {
  margin-top: 5rem;
  font-size: 2.8rem;
  text-align: center;
  height: 20vh;
  background: linear-gradient(to right, rgba(249, 1, 111, 0.5411764706) 58%, rgba(147, 8, 133, 0.6196078431) 61.96%, rgba(208, 56, 170, 0.7529411765) 75.48%, #851c87);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
@media (max-width: 780px) {
  .info-mulheres h2 {
    font-size: 2rem;
    height: auto;
    margin-top: 3rem;
    margin-bottom: 2rem;
  }
}
@media (max-width: 480px) {
  .info-mulheres h2 {
    font-size: 1.5rem;
    width: 90%;
    margin-bottom: 1.5rem;
  }
}
.info-mulheres .box-card {
  width: 70vw;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  font-family: "Roboto", sans-serif;
  gap: 2rem 0;
}
@media (max-width: 1200px) {
  .info-mulheres .box-card {
    width: 80vw;
    padding-bottom: 1rem;
  }
}
@media (max-width: 780px) {
  .info-mulheres .box-card {
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 2rem;
  }
}
.info-mulheres .box-card .card-mulheres {
  background-color: #fefefe;
  width: 20vw;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
  border-radius: 1rem;
  padding: 2rem 1.5rem;
}
@media (max-width: 1200px) {
  .info-mulheres .box-card .card-mulheres {
    width: 25vw;
  }
}
@media (max-width: 780px) {
  .info-mulheres .box-card .card-mulheres {
    width: 70%;
    height: 450px;
    overflow-y: auto;
  }
}
@media (max-width: 480px) {
  .info-mulheres .box-card .card-mulheres {
    width: 85%;
    height: 400px;
  }
}
.info-mulheres .box-card .card-mulheres h3 {
  font-size: 1.25rem;
  font-weight: 700;
  color: #000000;
  margin-bottom: 1rem;
  text-align: center;
  width: 100%;
}
.info-mulheres .box-card .card-mulheres img {
  max-width: 30%;
  margin-bottom: 1rem;
  align-self: center;
  margin-left: 0;
}
.info-mulheres .box-card .card-mulheres ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: auto;
  padding-left: 0;
  width: 100%;
  list-style-position: inside;
}
.info-mulheres .box-card .card-mulheres ul li {
  height: auto;
  width: 100%;
  color: #000000;
  font-size: 0.875rem;
  font-weight: 400;
  margin-bottom: 0.8rem;
  text-align: left;
  padding-left: 0.5rem;
}
@media (max-width: 480px) {
  .info-mulheres .box-card .card-mulheres ul li {
    font-size: 0.9rem;
  }
}

.info-homens {
  background-color: #f8f9fa;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding-bottom: 2rem;
}
@media (max-width: 780px) {
  .info-homens {
    width: 100%;
  }
}
.info-homens h2 {
  margin-top: 5rem;
  font-size: 2.8rem;
  text-align: center;
  height: 20vh;
  background: linear-gradient(to right, #3373d2, #6f95c7, #7bb5f5, #0074ee, #5ea7ef);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
@media (max-width: 780px) {
  .info-homens h2 {
    font-size: 2rem;
    height: auto;
    margin-top: 3rem;
    margin-bottom: 2rem;
  }
}
@media (max-width: 480px) {
  .info-homens h2 {
    font-size: 1.5rem;
    width: 90%;
    margin-bottom: 1.5rem;
  }
}
.info-homens .box-card2 {
  width: 70%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  font-family: "Roboto", sans-serif;
  gap: 2rem 0;
}
@media (max-width: 780px) {
  .info-homens .box-card2 {
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 2rem;
  }
}
.info-homens .box-card2 .card-homens {
  background-color: #ffffff;
  width: 20vw;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
  border-radius: 1rem;
  padding: 2rem 1.5rem;
}
@media (max-width: 780px) {
  .info-homens .box-card2 .card-homens {
    width: 70%;
    height: 450px;
    overflow-y: auto;
  }
}
@media (max-width: 480px) {
  .info-homens .box-card2 .card-homens {
    width: 85%;
    height: 400px;
  }
}
.info-homens .box-card2 .card-homens h3 {
  font-size: 1.25rem;
  font-weight: 700;
  color: #000000;
  margin-bottom: 1rem;
  text-align: center;
  width: 100%;
}
.info-homens .box-card2 .card-homens img {
  max-width: 30%;
  margin-bottom: 1rem;
  align-self: center;
  margin-left: 0;
}
.info-homens .box-card2 .card-homens ul {
  height: auto;
  padding-left: 0;
  width: 100%;
  list-style-position: inside;
}
.info-homens .box-card2 .card-homens ul li {
  height: auto;
  width: 100%;
  color: #000000;
  font-size: 0.875rem;
  font-weight: 400;
  margin-bottom: 0.8rem;
  text-align: left;
  padding-left: 0.5rem;
}
@media (max-width: 480px) {
  .info-homens .box-card2 .card-homens ul li {
    font-size: 0.9rem;
  }
}

.info-importantes {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 2rem 0;
}
@media (max-width: 780px) {
  .info-importantes {
    width: 100%;
  }
}
.info-importantes h2 {
  margin-top: 1rem;
  font-size: 2.8rem;
  text-align: center;
  height: 10vh;
  background: linear-gradient(to right, #1173d4 0%, #33cc73 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
@media (max-width: 780px) {
  .info-importantes h2 {
    height: auto;
    width: 95%;
    font-size: 2rem;
  }
}
@media (max-width: 480px) {
  .info-importantes h2 {
    font-size: 1.5rem;
  }
}

.cards-importantes {
  width: 80%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1.5rem;
  padding-top: 2rem;
}
@media (max-width: 780px) {
  .cards-importantes {
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2rem;
  }
}
.cards-importantes .card1,
.cards-importantes .card2,
.cards-importantes .card3,
.cards-importantes .card4 {
  height: auto;
  width: 48%;
  border-radius: 0.625rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 1rem;
}
@media (max-width: 780px) {
  .cards-importantes .card1,
  .cards-importantes .card2,
  .cards-importantes .card3,
  .cards-importantes .card4 {
    width: 90%;
  }
}
.cards-importantes .card1 .coracao,
.cards-importantes .card1 .escudo,
.cards-importantes .card1 .vacina,
.cards-importantes .card1 .cerebro,
.cards-importantes .card2 .coracao,
.cards-importantes .card2 .escudo,
.cards-importantes .card2 .vacina,
.cards-importantes .card2 .cerebro,
.cards-importantes .card3 .coracao,
.cards-importantes .card3 .escudo,
.cards-importantes .card3 .vacina,
.cards-importantes .card3 .cerebro,
.cards-importantes .card4 .coracao,
.cards-importantes .card4 .escudo,
.cards-importantes .card4 .vacina,
.cards-importantes .card4 .cerebro {
  width: 90%;
  font-size: 1.25rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-top: 0.7rem;
  margin-bottom: 1rem;
}
.cards-importantes .card1 .coracao,
.cards-importantes .card2 .coracao,
.cards-importantes .card3 .coracao,
.cards-importantes .card4 .coracao {
  color: #ad346a;
}
.cards-importantes .card1 p,
.cards-importantes .card2 p,
.cards-importantes .card3 p,
.cards-importantes .card4 p {
  font-size: 1rem;
  font-weight: 400;
  padding: 0 2rem 1rem 1rem;
}
@media (max-width: 780px) {
  .cards-importantes .card1 p,
  .cards-importantes .card2 p,
  .cards-importantes .card3 p,
  .cards-importantes .card4 p {
    height: auto;
    font-size: 1.1rem;
    width: 95%;
  }
}
@media (max-width: 480px) {
  .cards-importantes .card1 p,
  .cards-importantes .card2 p,
  .cards-importantes .card3 p,
  .cards-importantes .card4 p {
    font-size: 1rem;
  }
}
.cards-importantes .card1 {
  background-color: #f9d5e5;
}
.cards-importantes .card1 p {
  color: #ad346a;
}
.cards-importantes .card2 {
  background-color: #cfe2f3;
}
.cards-importantes .card2 .escudo {
  color: #2769a3;
}
.cards-importantes .card2 p {
  color: #2769a3;
}
.cards-importantes .card3 {
  background-color: #d4edda;
}
.cards-importantes .card3 .vacina {
  color: #244a2d;
}
.cards-importantes .card3 p {
  color: #244a2d;
}
.cards-importantes .card4 {
  background-color: #ffe9c2;
}
.cards-importantes .card4 .cerebro {
  color: #976c00;
}
.cards-importantes .card4 p {
  color: #976c00;
}

.footer {
  background-color: #313461;
  width: 100%;
  height: auto;
}
.footer .container-footer {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding-top: 2rem;
}
@media (max-width: 780px) {
  .footer .container-footer {
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
    gap: 1.5rem;
  }
}
.footer .container-footer .card-footer {
  height: auto;
  width: 20vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 1rem;
}
@media (max-width: 780px) {
  .footer .container-footer .card-footer {
    width: 90%;
    align-items: center;
  }
}
.footer .container-footer .card-footer h2 {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  color: #fff;
  font-weight: 700;
  margin-bottom: 0;
}
.footer .container-footer .card-footer p {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #fff;
}
@media (max-width: 780px) {
  .footer .container-footer .card-footer p {
    text-align: center;
  }
}
@media (max-width: 480px) {
  .footer .container-footer .card-footer p {
    text-align: center;
    font-size: 0.8rem;
  }
}
.footer .container-footer .card-footer img {
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 60%;
}
.footer .container-footer .card-footer ul {
  list-style: none;
}
.footer .container-footer .card-footer ul li {
  flex-direction: column;
  justify-content: space-around;
  display: flex;
  margin-top: 0.5rem;
}
@media (max-width: 780px) {
  .footer .container-footer .card-footer ul li {
    align-items: center;
    text-align: center;
  }
}
.footer .container-footer .card-footer ul li a {
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  height: auto;
  cursor: pointer;
  transition: all 0.3s;
  font-family: "Poppins", sans-serif;
}
@media (max-width: 480px) {
  .footer .container-footer .card-footer ul li a {
    font-size: 0.8rem;
  }
}
.footer .container-footer .card-footer ul li a:hover {
  transform: translateY(-5px);
}
.footer .copyright {
  font-family: "Poppins", sans-serif;
  display: flex;
  color: #ffffff;
  width: 100%;
  height: 10vh;
  font-size: 1rem;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #9fabbc;
}
@media (max-width: 780px) {
  .footer .copyright {
    height: auto;
    min-height: 8vh;
    align-items: center;
    text-align: center;
    padding: 1rem 0;
  }
}
@media (max-width: 480px) {
  .footer .copyright {
    font-size: 0.8rem;
  }
}/*# sourceMappingURL=style.css.map */